/* header */
.header nav h1 {
    float: none;
    text-align: center;
}

.header nav ul {
    float: none;
    list-style: none;
}

.header nav ul li {
    float: none;
}

.header nav ul li a {
    padding: 10px;
    text-align: center;
}

/* vp */

.vp-content {
    padding-top: 50px;
}

.vp-content h1 {
    font-size: 2rem;
}

/* features */

.feature {
    float: none;
    width: 100%;
    margin-bottom: 2rem;
}